redwellsNodeRed.txt
[{"id":"4d206f83.a19cf","type":"inject","z":"e9da3fe8.6fffd","name":"OurRoom-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.00001525878906,"y":332.5546941757202,"wires":[["1e8f3b2d.e388a5"]]},{"id":"701ffc45.ad0ea4","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"MasterBedroom","pin":"40","set":true,"level":"0","out":"out","x":917.0000381469727,"y":252.55472660064697,"wires":[]},{"id":"cd5697ed.0ccac8","type":"inject","z":"e9da3fe8.6fffd","name":"OurRoomOff","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":205.3333282470703,"y":378.5546884536743,"wires":[["701ffc45.ad0ea4"]]},{"id":"385c2e1b.afc202","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":537.5546865463257,"wires":[["138d7abd.89be35"]]},{"id":"4f87714f.d2fbe","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Tobs","pin":"38","set":true,"level":"0","out":"out","x":857.0000038146973,"y":485.55470848083496,"wires":[]},{"id":"a09994e9.ef5ae8","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":220.00001525878906,"y":591.5546884536743,"wires":[["4f87714f.d2fbe"]]},{"id":"d62a8d02.7ac71","type":"inject","z":"e9da3fe8.6fffd","name":"Shower-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.63739776611328,"y":788.313063621521,"wires":[["7e975bbf.5f5304"]]},{"id":"9b259b.f5e9da68","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Shower","pin":"36","set":true,"level":"0","out":"out","x":834.5312843322754,"y":738.5113353729248,"wires":[]},{"id":"2baaedff.416bf2","type":"inject","z":"e9da3fe8.6fffd","name":"Shower-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":248.07050323486328,"y":832.6074094772339,"wires":[["9b259b.f5e9da68"]]},{"id":"534fee70.f0ac3","type":"inject","z":"e9da3fe8.6fffd","name":"Libs-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.99999618530273,"y":1049.5547046661377,"wires":[["6f69e676.30b898"]]},{"id":"50d3c74d.606548","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Libbys","pin":"32","set":true,"level":"0","out":"out","x":802.0000267028809,"y":1026.5546703338623,"wires":[]},{"id":"2f0da55a.71156a","type":"inject","z":"e9da3fe8.6fffd","name":"Libs-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":244.00001525878906,"y":1092.5546884536743,"wires":[["50d3c74d.606548"]]},{"id":"939b709.dde999","type":"inject","z":"e9da3fe8.6fffd","name":"Libs PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"29 18 * * *","once":false,"x":255.23006057739258,"y":1019.0616931915283,"wires":[["c7ca5470.885358"]]},{"id":"7ba48bba.fe1a74","type":"inject","z":"e9da3fe8.6fffd","name":"Libs AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"x":252.00001525878906,"y":969.5546884536743,"wires":[["6f69e676.30b898"]]},{"id":"6f69e676.30b898","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"60","extend":false,"units":"min","reset":"0","name":"60 timer","x":610.2430458068848,"y":922.065770149231,"wires":[["50d3c74d.606548"]]},{"id":"7e975bbf.5f5304","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"60","extend":false,"units":"min","reset":"0","name":"60 minute","x":633.0000305175781,"y":693.5547132492065,"wires":[["9b259b.f5e9da68"]]},{"id":"3bfe39ac.ed94c6","type":"inject","z":"e9da3fe8.6fffd","name":"Shower AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"45 05 * * 1,2,3,4,5","once":false,"x":246.00115203857422,"y":686.4454660415649,"wires":[["7e975bbf.5f5304"]]},{"id":"eb12a262.a6d17","type":"inject","z":"e9da3fe8.6fffd","name":"Shower AM w/e timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 07 * * 6,0","once":false,"x":261.26219940185547,"y":746.0052423477173,"wires":[[]]},{"id":"138d7abd.89be35","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"60","extend":false,"units":"min","reset":"0","name":"60minute","x":647.8280181884766,"y":447.2717113494873,"wires":[["4f87714f.d2fbe"]]},{"id":"fdf98f96.78747","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"15 05 * * 1,2,3,4,5","once":false,"x":234.00000762939453,"y":460.6435546875,"wires":[["138d7abd.89be35"]]},{"id":"b1204c8e.6f0b7","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 20 * * 1,2,3,4,5","once":false,"x":235.97854614257812,"y":501.43220615386963,"wires":[[]]},{"id":"c8c0aaae.e59568","type":"inject","z":"e9da3fe8.6fffd","name":"Master Bed AM on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"45 05 * * 1,2,3,4,5","once":false,"x":212.00001525878906,"y":223.55468845367432,"wires":[["1e8f3b2d.e388a5"]]},{"id":"f4c78fb0.ab7c7","type":"inject","z":"e9da3fe8.6fffd","name":"Master Bed PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"45 20 * * *","once":false,"x":222.0000228881836,"y":263.55469608306885,"wires":[[]]},{"id":"1e8f3b2d.e388a5","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"90","extend":false,"units":"min","reset":"0","name":"90 min","x":648.9999885559082,"y":173.55471324920654,"wires":[["701ffc45.ad0ea4"]]},{"id":"14fa3a85.af3375","type":"inject","z":"e9da3fe8.6fffd","name":"All Off at Night","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"00 23 * * *","once":false,"x":689.1367149353027,"y":20,"wires":[["701ffc45.ad0ea4","4f87714f.d2fbe","50d3c74d.606548","9b259b.f5e9da68"]]},{"id":"1d5ea7fd.b63b08","type":"inject","z":"e9da3fe8.6fffd","name":"All Off in Day","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"00 08 * * *","once":false,"x":689.0195274353027,"y":73.55859375,"wires":[["701ffc45.ad0ea4","4f87714f.d2fbe","9b259b.f5e9da68","50d3c74d.606548"]]},{"id":"bcbbf0ac.93484","type":"debug","z":"e9da3fe8.6fffd","name":"","active":true,"console":"false","complete":"false","x":1320.140697479248,"y":478.23046588897705,"wires":[]},{"id":"c7ca5470.885358","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"180","extend":false,"units":"min","reset":"0","name":"180 timer","x":607.765625,"y":978.75,"wires":[["50d3c74d.606548"]]}]
