redwellsNodeRed.txt
[{"id":"f713eb4.d363218","type":"mqtt-broker","z":"e9da3fe8.6fffd","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"redwell/masterBedroom","willQos":"0","willRetain":null,"willPayload":"0","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4d206f83.a19cf","type":"inject","z":"e9da3fe8.6fffd","name":"OurRoom-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":150,"wires":[["ab230614.5a78d8"]]},{"id":"701ffc45.ad0ea4","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"MasterBedroom","pin":"40","set":true,"level":"0","out":"out","x":739,"y":157,"wires":[]},{"id":"cd5697ed.0ccac8","type":"inject","z":"e9da3fe8.6fffd","name":"OurRoomOff","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.33331298828125,"y":200,"wires":[["701ffc45.ad0ea4","18a88ca9.4196d3"]]},{"id":"385c2e1b.afc202","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":151,"y":365,"wires":[["138d7abd.89be35"]]},{"id":"4f87714f.d2fbe","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Tobs","pin":"38","set":true,"level":"0","out":"out","x":709,"y":350,"wires":[]},{"id":"a09994e9.ef5ae8","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":149,"y":406,"wires":[["4f87714f.d2fbe","85c0e0d4.f935c"]]},{"id":"d62a8d02.7ac71","type":"inject","z":"e9da3fe8.6fffd","name":"Shower-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.63739013671875,"y":565.7583618164062,"wires":[["7e975bbf.5f5304"]]},{"id":"9b259b.f5e9da68","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Shower","pin":"36","set":true,"level":"0","out":"out","x":714,"y":516,"wires":[]},{"id":"2baaedff.416bf2","type":"inject","z":"e9da3fe8.6fffd","name":"Shower-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":171.07048797607422,"y":606.052734375,"wires":[["9b259b.f5e9da68","6d8b1eaa.127a4"]]},{"id":"534fee70.f0ac3","type":"inject","z":"e9da3fe8.6fffd","name":"Libs-On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":787,"wires":[["6f69e676.30b898"]]},{"id":"50d3c74d.606548","type":"rpi-gpio out","z":"e9da3fe8.6fffd","name":"Libbys","pin":"32","set":true,"level":"0","out":"out","x":726,"y":729,"wires":[]},{"id":"2f0da55a.71156a","type":"inject","z":"e9da3fe8.6fffd","name":"Libs-Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":828,"wires":[["50d3c74d.606548","21eba9e2.b49376"]]},{"id":"939b709.dde999","type":"inject","z":"e9da3fe8.6fffd","name":"Libs PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"45 17 * * *","once":false,"x":158.23004150390625,"y":747.5070190429688,"wires":[[]]},{"id":"7ba48bba.fe1a74","type":"inject","z":"e9da3fe8.6fffd","name":"Libs AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"15 05 * * *","once":false,"x":165,"y":705,"wires":[[]]},{"id":"6f69e676.30b898","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"60","extend":true,"units":"min","reset":"","name":"1hr timer","x":444.24298095703125,"y":707.510986328125,"wires":[["50d3c74d.606548","21eba9e2.b49376"]]},{"id":"7e975bbf.5f5304","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"90","extend":true,"units":"min","reset":"","name":"90min timer","x":420,"y":503,"wires":[["9b259b.f5e9da68","6d8b1eaa.127a4"]]},{"id":"3bfe39ac.ed94c6","type":"inject","z":"e9da3fe8.6fffd","name":"Shower AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 05 * * 1,2,3,4,5","once":false,"x":174.3330078125,"y":478.9990234375,"wires":[["7e975bbf.5f5304"]]},{"id":"eb12a262.a6d17","type":"inject","z":"e9da3fe8.6fffd","name":"Shower AM w/e timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 07 * * 6,0","once":false,"x":184.2621841430664,"y":519.4505672454834,"wires":[[]]},{"id":"138d7abd.89be35","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"60","extend":true,"units":"min","reset":"","name":"1hr timer","x":352.8280029296875,"y":310.7170104980469,"wires":[["4f87714f.d2fbe","85c0e0d4.f935c"]]},{"id":"fdf98f96.78747","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs AM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"15 05 * * 1,2,3,4,5","once":false,"x":171.17100524902344,"y":268.54901123046875,"wires":[[]]},{"id":"b1204c8e.6f0b7","type":"inject","z":"e9da3fe8.6fffd","name":"Tobs PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"45 17 * * *","once":false,"x":164.97853088378906,"y":315.8775177001953,"wires":[[]]},{"id":"ab230614.5a78d8","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"90","extend":true,"units":"min","reset":"","name":"90 min","x":365.9906005859375,"y":80.91549682617188,"wires":[["701ffc45.ad0ea4","18a88ca9.4196d3"]]},{"id":"c8c0aaae.e59568","type":"inject","z":"e9da3fe8.6fffd","name":"Master Bed AM on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 05 * * *","once":false,"x":152,"y":34,"wires":[[]]},{"id":"f4c78fb0.ab7c7","type":"inject","z":"e9da3fe8.6fffd","name":"Master Bed PM timer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 18 * * *","once":false,"x":172,"y":112,"wires":[[]]},{"id":"935c4ff0.26ab6","type":"inject","z":"e9da3fe8.6fffd","name":"All ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":731.9999694824219,"y":77.9999942779541,"wires":[["701ffc45.ad0ea4","4f87714f.d2fbe","9b259b.f5e9da68","50d3c74d.606548","18a88ca9.4196d3","85c0e0d4.f935c","6d8b1eaa.127a4","21eba9e2.b49376"]]},{"id":"76f7104a.9a9ce","type":"inject","z":"e9da3fe8.6fffd","name":"All OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":546,"y":77,"wires":[["701ffc45.ad0ea4","4f87714f.d2fbe","9b259b.f5e9da68","50d3c74d.606548","18a88ca9.4196d3","85c0e0d4.f935c","6d8b1eaa.127a4","21eba9e2.b49376"]]},{"id":"a4d21483.235e58","type":"inject","z":"e9da3fe8.6fffd","name":"Master Bed AM off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"00 06 * * *","once":false,"x":157,"y":69,"wires":[[]]},{"id":"38d57fe9.41ec4","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"3","extend":false,"units":"hr","reset":"","name":"3hr","x":361.542236328125,"y":132.85446166992188,"wires":[["701ffc45.ad0ea4","18a88ca9.4196d3"]]},{"id":"674f15b6.3a0d5c","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"3","extend":false,"units":"hr","reset":"","name":"3hr","x":339.28167724609375,"y":357.5023193359375,"wires":[["4f87714f.d2fbe"]]},{"id":"ab9296fd.0b2f68","type":"trigger","z":"e9da3fe8.6fffd","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"200","extend":false,"units":"min","reset":"","name":"3hr","x":400.58837890625,"y":772.2149658203125,"wires":[["50d3c74d.606548"]]},{"id":"b35c0075.a7477","type":"mqtt in","z":"e9da3fe8.6fffd","name":"Master Bedroom MQTT","topic":"/redwell/masterBedroom","broker":"f713eb4.d363218","x":491.1666946411133,"y":204.3333396911621,"wires":[["ab230614.5a78d8","701ffc45.ad0ea4"]]},{"id":"818b487b.cac608","type":"mqtt in","z":"e9da3fe8.6fffd","name":"Tobi Bedroom MQTT","topic":"/redwell/tobiBedroom","broker":"f713eb4.d363218","x":379,"y":436,"wires":[["4f87714f.d2fbe","138d7abd.89be35"]]},{"id":"36fcbf70.d621","type":"mqtt in","z":"e9da3fe8.6fffd","name":"Shower MQTT","topic":"/redwell/shower","broker":"f713eb4.d363218","x":378.00000762939453,"y":618.0000123977661,"wires":[["9b259b.f5e9da68","7e975bbf.5f5304"]]},{"id":"9d443254.c9f9a","type":"mqtt in","z":"e9da3fe8.6fffd","name":"Libby Bedroom MQTT","topic":"/redwell/libbyBedroom","broker":"f713eb4.d363218","x":399,"y":857,"wires":[["6f69e676.30b898","50d3c74d.606548"]]},{"id":"18a88ca9.4196d3","type":"mqtt out","z":"e9da3fe8.6fffd","name":"Master Bedroom MQTT rcv","topic":"/redwell/masterBedroom","qos":"0","retain":"false","broker":"f713eb4.d363218","x":929.1666870117188,"y":206.66668701171875,"wires":[]},{"id":"85c0e0d4.f935c","type":"mqtt out","z":"e9da3fe8.6fffd","name":"Tobi MQTT Rcv","topic":"/redwell/tobiBedroom","qos":"0","retain":"false","broker":"f713eb4.d363218","x":843.1666870117188,"y":392.66668701171875,"wires":[]},{"id":"6d8b1eaa.127a4","type":"mqtt out","z":"e9da3fe8.6fffd","name":"SHower Mqtt recv","topic":"/redwell/shower","qos":"","retain":"","broker":"f713eb4.d363218","x":851.1666870117188,"y":551.6666870117188,"wires":[]},{"id":"21eba9e2.b49376","type":"mqtt out","z":"e9da3fe8.6fffd","name":"Libby MQTT rcv","topic":"/redwell/libbyBedroom","qos":"0","retain":"false","broker":"f713eb4.d363218","x":821.1666870117188,"y":773.6666870117188,"wires":[]}]
